<div class="content">
    <h1>List of projects</h1>
    <div class="row">
        {{#each projects}}
            <div class="col-md-4 card">
                <img class="card-img-top" src="{{image}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{name}}</h5>
                    <p class="card-text">{{description}}</p>
                    <a href="/projects/{{id}}" class="btn btn-primary">Go somewhere</a>
                </div>
                {{#each tags}}
                    <div>
                        <p class="card-text">{{description}}</p>
                    </div>
                {{/each}}
            </div>
        {{/each}}
    </div>
</div>